body {
  background: #ccc;
  padding: 2vh;
}

.editor {
  padding: 1vh;
}
.edit-surround {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vh 1vw;
  height: 94vh;
  background: #e5e5e5;
  border-radius: 15px;
}

.editor-grid {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: middle;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: pink;
}

.grid-row {
  display: flex;
  flex-flow: row nowrap;
}

.grid-square {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #ccc;
}

.color-palette {
  display: flex;
  flex-flow: row wrap;
}

.swatch {
  margin: 2px;
  border-radius: 36px;
  width: 36px;
  height: 36px;
  background: #fff;
}

.color-tool {
  display: flex;
  flex-direction: row;
}
.density-tool {
  display: flex;
  flex-direction: column;
}
